<%- include('./includes/head.ejs') %>
<h4 class="card-title">Welcome to the Alpaca Airways dispatch system...</h4>
<p class="card-text">This is an automated dispatch system created to organize the monthly group flights. To get started click the sign in button in the top right and enter your discord credentials. This will verify you are a member of the flightdeck2sim Community
    and will allow you to sign up for any upcoming group flights.</p>
<%- include('./includes/end.ejs') %>