<%- include('../includes/head.ejs') %>
<h4 class="card-title">Create New Flight</h4>
<div class="form-holder">
    <form class="new-flight" action="/new-flight" method="POST">
        <div class="form-group">
            <label for="start">Flight Start Date and Time (Zulu)</label> 
            <input type="text" class="form-control datetimepicker-input" id="datetimepicker4" name="start" data-toggle="datetimepicker" data-target="#datetimepicker4" placeholder="YYYY-MM-DD HH:MM"/>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker4').datetimepicker({format : 'YYYY-MM-DD HH:mm', icons: {
                    time: 'fas fa-clock',
                    date: 'fas fa-calendar',
                    up: 'fas fa-arrow-up',
                    down: 'fas fa-arrow-down',
                    previous: 'fas fa-chevron-left',
                    next: 'fas fa-chevron-right',
                    today: 'fas fa-calendar-check-o',
                    clear: 'fas fa-trash',
                    close: 'fas fa-times'
                }});
            });
        </script>
        <div class="form-group">
            <label for="start">Flight End Date and Time (Zulu)</label> 
            <input type="text" class="form-control datetimepicker-input" id="datetimepicker5" name="end" data-toggle="datetimepicker" data-target="#datetimepicker5" placeholder="YYYY-MM-DD HH:MM"/>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker5').datetimepicker({format : 'YYYY-MM-DD HH:mm', icons: {
                    time: 'fas fa-clock',
                    date: 'fas fa-calendar',
                    up: 'fas fa-arrow-up',
                    down: 'fas fa-arrow-down',
                    previous: 'fas fa-chevron-left',
                    next: 'fas fa-chevron-right',
                    today: 'fas fa-calendar-check-o',
                    clear: 'fas fa-trash',
                    close: 'fas fa-times'
                }});
            });
        </script>
        <div class="form-group">
            <label  for="date">Flight Name</label> 
            <input id="name" name="name" placeholder="January Group Flight" type="text" class="form-control" required="required">
        </div>
        <div class="form-group">
            <label for="departure">Airport 1 ICAO</label> 
            <input id="departure" name="departure" placeholder="EGLL" type="text" class="form-control" required="required">
        </div>
        <div class="form-group">
            <label for="arrival">Airport 2 ICAO</label> 
            <input id="arrival" name="arrival" placeholder="EHAM" type="text" class="form-control" required="required">
        </div>
        <div class="form-group">
            <label for="gates1">Airport 1 Departure Gates</label> 
            <input id="gates1" name="gates1" placeholder="A1, A2, A3, A4, B1, B2" type="text" aria-describedby="gates1HelpBlock" class="form-control" required="required"> 
            <span id="gates1HelpBlock" class="form-text text-muted">Seperate with a comma and a space.</span>
        </div>
        <div class="form-group">
            <label for="both">Enable Departures from Both Airports</label> 
            <div>
                <select id="both" name="both" aria-describedby="bothHelpBlock" class="custom-select" required="required">
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select> 
                <span id="bothHelpBlock" class="form-text text-muted">If no is selected, Airport 1 will be the departure airport.</span>
            </div>
        </div>
        <div class="form-group">
            <label for="gates2">Airport 2 Departure Gates</label> 
            <input id="gates2" name="gates2" placeholder="A1, A2, A3, A4, B1, B2" type="text" class="form-control" aria-describedby="gates2HelpBlock"> 
            <span id="gates2HelpBlock" class="form-text text-muted">Only use if departures are enabled from both airports.</span>
        </div>
        <div class="form-group">
            <label for="callsign">Aircraft Callsign</label> 
            <input id="callsign" name="callsign" placeholder="VCP" type="text" class="form-control" required="required" aria-describedby="callsignHelpBlock"> 
            <span id="callsignHelpBlock" class="form-text text-muted">This callsign will be enforced for all members of this flight.</span>
        </div>                 
        <div class="form-group">
            <button name="submit" type="submit" class="btn btn-primary">Create Flight</button>
        </div>
    </form>
</div>
<%- include('../includes/end.ejs') %>